---
version: "3"
services:
  predictor:
    container_name: predictor
    image: ghcr.io/risingfbk/fluidos-energy-predictor:github
    user: 1000:1000
    volumes:
      - /path/to/data/folder:/app/data
      - /path/to/models/folder:/app/models
      - /path/to/out/folder:/app/out
    environment:
      - TZ=Europe/Rome
    restart: unless-stopped
